<h2 class="accordion-header" id="custom-rewards-<%= locals[:section_name] %>">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-custom-rewards-<%= locals[:section_name] %>" aria-expanded="false" aria-controls="collapse-custom-rewards-<%= locals[:section_name] %>">
    Custom Rewards
  </button>
</h2>
<div id="collapse-custom-rewards-<%= locals[:section_name] %>" class="accordion-collapse collapse" aria-labelledby="#custom-rewards-<%= locals[:section_name] %>" data-bs-parent="#<%= locals[:section_name] %>">
  <div class="accordion-body">
    <%= render 'form', object: Reward.new(reward_type: :custom_rewards) %>
  </div>
</div>
