<% program = locals[:program] %>
<% object = set_reward_object(CustomReward.new, locals[:program], locals[:section_type]) %>
<h2 class="accordion-header" id="custom-rewards-<%= locals[:section_name] %>">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-custom-rewards-<%= locals[:section_name] %>" aria-expanded="false" aria-controls="collapse-custom-rewards-<%= locals[:section_name] %>">
    Custom Rewards
  </button>
</h2>
<div id="collapse-custom-rewards-<%= locals[:section_name] %>" class="accordion-collapse collapse" aria-labelledby="#custom-rewards-<%= locals[:section_name] %>" data-bs-parent="#<%= locals[:section_name] %>">
  <div class="accordion-body">
    <%= form_for [:admin, object] do |f| %>
      <%= hidden_field_tag 'program_id', program.id %>
      <%= hidden_field_tag 'section_type', locals[:section_type] %>
      <p>
        <div class='label-title f16 fw6'>Title</div>
        <%= f.text_field :title, class: 'input-field', placeholder: 'title' %>
      </p>
      <p>
        <div class='label-title f16 fw6'>All products allowed</div>
        <%= f.check_box :all_products_allowed, class: 'input-field', placeholder: 'All products allowed' %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>
  </div>
</div>
