<div class="email-wrapper container">
  <div class="row div_logo">
    <img src="<%= public_url(email.get_logo) %>" class="logo"/>
  </div>
  <div class="row div_banner">
    <img src="<%= public_url(email.get_banner) %>" class="banner"/>
  </div>
  <div class="email-actions row">
    <div class="col action_div">
      <%= button_to 'Preview', admin_emails_get_email_preview_path, method: 'get', class: "btn action filled-form-btn", params: {email_id: email.id, email_type: email.class}, remote: true %>
    </div>
    <div class="col div_action">
      <%= button_to 'Edit', admin_emails_images_form_path, method: 'get', class: "btn action filled-form-btn w85", params: {email_id: email.id, email_type: email.class}, remote: true %>
    </div>
    <% if email.class == EmailPerforma %>
      <div class="col action_div">
        <%= button_to 'Select', admin_emails_select_email_path, method: 'get', class: "btn action filled-form-btn", params: {email_id: email.id, email_type: email.class}, remote: true %>
      </div>
    <% end %>
  </div>
</div>
