<div class="modal fade" id="imagesFormModal" tabindex="-1" aria-labelledby="emailPreviewModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="alert alert-info" role="alert">
        <p class="m0">Upload your logo and banner</p>
      </div>
      <%= form_for set_email_path(email) do |f| %>
        <div class="modal-body row">
          <div class="col-4 div_container">
            <label for="floatingInputValue">Your Logo</label>
            <div class="row image">
              <img src="<%= public_url(email.get_logo) %>" class="logo"/>
            </div>
            <div class="row">
              <%= f.file_field :logo, name: 'email_logo' %>
            </div>
          </div>
          <div class="col-8 div_container">
            <label for="floatingInputValue">Your Banner</label>
            <div class="row image">
              <img src="<%= public_url(email.get_banner) %>" class="banner"/>
            </div>
            <div class="row">
              <%= f.file_field :banner, value: '', title: '' %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="modal-footer">
        <p>
          <button type="button" class="filled-form-btn btn w85 form-button" data-bs-dismiss="modal">Done</button>
        </p>
      </div>
    </div>
  </div>
</div>
